{% extends "base.html" %}
{% load bootstrap %}

<h1>Teste Geobit</h1>

{% block main %}

    <form action="{% url 'upload_file' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{form|bootstrap}}
        <button class="btn btn-success" type="submit" name="file">Upload</button>

        {% if sucesso %}
                <h5 class="text-success">{{ sucesso }}</h5>
        {% endif %}

    </form>

    <div class="row">
        <h1>
            <a class="btn btn-primary btn-lg btn-block" href="http://localhost:8000/">Acessar Endpoints</a>
            <a class="btn btn-primary btn-lg btn-block" href="lista_mulheres/">Acessar lista de mulheres</a>
            <a class="btn btn-primary btn-lg btn-block" href="lista_pessoas">Acessar lista de pessoas</a>
        </h1>

    </div>

{% endblock %}
